<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Recipe Book{% endblock %}
{% block banner%}
    <h1>Recipe Book</h1>
    {% if request.user.is_authenticated %}
        <h2>Logged In</h2>
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit"> logout </button>
        </form>
    {% else %}
        <a href = "{% url 'login' %}"> Login </a>
    {% endif %}
{% endblock %}
{% block content %}
    <ul>
        {% for recipe in object_list %}
            <li> 
                <a href="{{recipe.get_absolute_url}}"> {{ recipe }} </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}